header  {
  margin-bottom: 25px;
}

.header__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

.header__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 50vh;
  transition: .2s ease-in-out;
}

.header__img {
  transition: .5s ease-in-out;
  max-width: 100%;
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}
.header__img:hover {
  filter: grayscale(0);
}


.header__img1 {
  background-image: url('../assets/img3.JPG');
}

.header__img2 {
  background-image: url('../assets/img6.JPG');
}
  
.header__img3 {
  background-image: url('../assets/img2.JPG');
}

.header__img4 {
  background-image: url('../assets/img4.JPG');
}

.header__img5 {
  background-image: url('../assets/img1.JPG');
}
  
.header__img6 {
  background-image: url('../assets/img5.JPG');
}


@media screen and (max-width: 720px) {

  .header {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 100vw;
  }

  .header__img {
    transition: .5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    flex: 1;
    filter: grayscale(0);
  }


  .header__img1 {
    display: none;
  }
  .header__img2 {
    display: none;
  }
  
  .header__img3 {
    background-image: url('../assets/mini/img3mini.JPG');
  }
}
